$blue: #056ef0;

body {
    display: flex;
    background: $blue;
    font-size: 12px;
}

.container{
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
    width: 100%;
    height: 100%;
}

.item-a {
    background: red;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
